{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "partials/layout.njk" %}

{% if journey.referenceDataType === 'ALERT_TYPE' and journey.changeType === 'ADD_NEW' %}
  {% set pageTitle = "Alert type added" %}
  {% set body = "You have added the " + journey.description + " alert type." %}
{% elseif journey.referenceDataType === 'ALERT_CODE' and journey.changeType === 'ADD_NEW' %}
  {% set pageTitle = "Alert added" %}
  {% set body = "You have added the " + journey.description + " alert." %}
{% elseif journey.referenceDataType === 'ALERT_CODE' and journey.changeType === 'EDIT_DESCRIPTION' %}
  {% set pageTitle = "Alert description updated" %}
  {% set body = "You have updated the description for the " + journey.alertCode.code + " alert to ‘" + journey.description + "’." %}
{% elseif journey.referenceDataType === 'ALERT_CODE' and journey.changeType === 'DEACTIVATE' %}
  {% set pageTitle = "Alert deactivated" %}
  {% set body = "You have deactivated the " + journey.alertCode.code + " (" + journey.alertCode.description + ") alert." %}
{% elseif journey.referenceDataType === 'ALERT_CODE' and journey.changeType === 'REACTIVATE' %}
  {% set pageTitle = "Alert reactivated" %}
  {% set body = "You have reactivated the " + journey.alertCode.code + " (" + journey.alertCode.description + ") alert." %}
{% endif %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                classes: 'govuk-!-margin-bottom-7 govuk-!-margin-top-5',
                titleText: pageTitle
            }) }}

            <p class="govuk-body govuk-!-margin-bottom-6">
              {{ body }}
            </p>

            {{ govukButton({
              text: "Return to manage prisoner alerts",
              href: "/",
              preventDoubleClick: true
            }) }}
        </div>
    </div>
{% endblock %}
