{% extends "../../partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = applicationName + " - Create alert code" %}
{% set mainClasses = "govuk-body" %}
{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "create"
    }) }}
{% endblock %}
{% block content %}
    <div class="govuk-!-margin-bottom-5">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                {% if  alertCodeErrorMessage or alertDescriptionErrorMessage %}
                    {% include './partials/createAlertCodeErrorBanner.njk' %}
                {% endif %}
                <span class="govuk-caption-xl">Create an alert code</span>
                <h1 class="govuk-heading-xl">Add alert code details</h1>
                <form method="post">
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

                    {{ govukInput({
                        label: {
                            text: "Enter an alert code"
                        },
                        classes: "govuk-input--width-5",
                        id: "alertCode",
                        errorMessage: {
                            text: alertCodeErrorMessage
                        } if alertCodeErrorMessage,
                        name: "alertCode",
                        value: alertCode
                    }) }}
                    {{ govukInput({
                        label: {
                            text: "Enter a description of the alert"
                        },
                        classes: "govuk-input--width-full",
                        errorMessage: {
                            text: alertDescriptionErrorMessage
                        } if alertDescriptionErrorMessage,
                        id: "alertDescription",
                        name: "alertDescription",
                        value: alertDescription
                    }) }}
                    {{ govukButton({
                        text: "Continue",
                        type: submit,
                        value: 'alert-code',
                        preventDoubleClick: true,
                        attributes: {  'data-qa': 'alert-code' }
                    }) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
