{% extends "../../partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = applicationName + " - Update alert type description" %}
{% set mainClasses = "app-container govuk-body" %}
{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "/alert-type/update-description"
    }) }}
{% endblock %}
{% block content %}
    <div class="govuk-!-margin-bottom-5">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                {% if alertTypeErrorMessage or alertTypeDescriptionErrorMessage %}
                    {% include './partials/updateAlertTypeErrorBanner.njk' %}
                {% endif %}
                <span class="govuk-caption-xl">Update alert type description</span>
                <form method="post">
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
                    {{ govukInput({
                        label: {
                            text: "Enter a new description for alert type code " + code,
                            classes: "govuk-label--l",
                            isPageHeading: true
                        },
                        value: description,
                        id: "descriptionEntry",
                        name: "descriptionEntry"
                    }) }}
                    {{ govukButton({
                        text: "Continue",
                        type: submit,
                        value: 'alert-type-description',
                        preventDoubleClick: true,
                        attributes: {  'data-qa': 'alert-type-description' }
                    }) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}