<h1 class="govuk-heading-l">
    Reference Data
</h1>
<div class="gem-c-cards">
    <ul class="gem-c-cards__list" data-track-count="cardList">
        <li class="gem-c-cards__list-item">
            <div class="gem-c-cards__list-item-wrapper">
                <h2 class="gem-c-cards__sub-heading govuk-heading-s">
                    <a data-qa=create-alert-type class="govuk-link gem-c-cards__link" href="/alert-type/create">Add an alert type</a>
                </h2>
                <p class="govuk-body gem-c-cards__description">Add a new alert type.</p>
            </div>
        </li>
        <li class="gem-c-cards__list-item">
            <div class="gem-c-cards__list-item-wrapper">
                <h2 class="gem-c-cards__sub-heading govuk-heading-s">
                    <a data-qa=update-alert-type class="govuk-link gem-c-cards__link" href="/alert-type/update-description">Update alert type description</a>
                </h2>
                <p class="govuk-body gem-c-cards__description">Update description of an alert type.</p>
            </div>
        </li>
        <li class="gem-c-cards__list-item">
            <div class="gem-c-cards__list-item-wrapper">
                <h2 class="gem-c-cards__sub-heading govuk-heading-s">
                    <a data-qa=create-alert-code class="govuk-link gem-c-cards__link" href="/alert-code/create">Add an alert code</a>
                </h2>
                <p class="govuk-body gem-c-cards__description">Add a new alert code.</p>
            </div>
        </li>
        <li class="gem-c-cards__list-item">
            <div class="gem-c-cards__list-item-wrapper">
                <h2 class="gem-c-cards__sub-heading govuk-heading-s">
                    <a data-qa=deactivate-alert-code class="govuk-link gem-c-cards__link" href="/alert-code/deactivate">Deactivate an alert code</a>
                </h2>
                <p class="govuk-body gem-c-cards__description">Deactivate an existing alert code.</p>
            </div>
        </li>
    </ul>
</div>