{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% extends "partials/layout.njk" %}

{% set pageTitle = "Alerts uploaded in bulk successfully" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                titleText: "Alerts uploaded in bulk successfully"
            }) }}

            {% set alertLabel = "‘" + alertCode.description + "’ alert" %}
            {% set createAlerts = result.created + " new " + alertLabel + ('s were' if result.created !== 1 else ' was') %}
            {% set expireAlerts = result.expired + " existing " + alertLabel + ('s were' if result.expired !== 1 else ' was') %}
            {% set otherAlertsCount = result.existingAlerts + result.updated %}
            {% set otherAlerts = otherAlertsCount + " existing " + alertLabel + ('s remain' if otherAlertsCount !== 1 else ' remains') %}

            <p class="govuk-body">{{ createAlerts }} created.</p>
            <p class="govuk-body">{{ expireAlerts }} made inactive.</p>
            <p class="govuk-body">{{ otherAlerts }} active.</p>

            <h1 class="govuk-heading-m">What you can do next</h1>
            <p class="govuk-body">
                <a class="govuk-link govuk-link--no-visited-state" href="/bulk-alerts">Upload more alerts in bulk</a>
            </p>
            <p class="govuk-body">
                <a class="govuk-link govuk-link--no-visited-state" href="/">Update alerts reference data</a>
            </p>
        </div>
    </div>
{% endblock %}
