{% extends "../../partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = applicationName + " - Create alert type confirm details" %}
{% set mainClasses = "app-container govuk-body" %}
{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "/alertType/create"
    }) }}
{% endblock %}
{% block content %}
    <div class="govuk-!-margin-bottom-9">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">
                <span class="govuk-caption-xl">Create an alert type</span>
                <h1 class="govuk-heading-xl">
                    Check your answers before creating your alert type
                </h1>
                <h2 class="govuk-heading-m">Alert type</h2>
                {{ govukSummaryList({
                    classes: "govuk-!-margin-bottom-9",
                    rows: [
                        {
                            key: {
                            text: "Code"
                        },
                            value: {
                            text: alertTypeCode
                        },
                            actions: {
                            items: [
                                {
                                    href: "/alertType/create",
                                    text: "Change",
                                    visuallyHiddenText: "name"
                                }
                            ]
                        }
                        },
                        {
                            key: {
                            text: "Description"
                        },
                            value: {
                            text: alertTypeDescription
                        },
                            actions: {
                            items: [
                                {
                                    href: "/alertType/create",
                                    text: "Change",
                                    visuallyHiddenText: "date of birth"
                                }
                            ]
                        }
                        }
                    ]
                }) }}
                <h2 class="govuk-heading-m">Now save your alert type</h2>
                <p class="govuk-body">By saving this alert type, you are confirming that to the best of your knowledge, the details above are accurate. You will be able to use this alert type as soon as you click 'Save' below.</p>
                <form method="post">
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
                    <input type="hidden" name="code" data-qa="code" value="{{ alertTypeCode }}"/>
                    <input type="hidden" name="description" data-qa="description"  value="{{ alertTypeDescription }}"/>
                    {{ govukButton({
                        text: "Save",
                        type: submit,
                        value: 'alert-type-code-save',
                        preventDoubleClick: true,
                        attributes: {  'data-qa': 'alert-type-code-save' }
                    }) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
