{% extends "../../partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = applicationName + " - Create alert type" %}
{% set mainClasses = "app-container govuk-body" %}
{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "/manage-reference-data"
    }) }}
{% endblock %}
{% block content %}
    <div class="govuk-!-margin-bottom-9">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                {% if  alertTypeCodeErrorMessage or alertTypeDescriptionErrorMessage %}
                    {% include './partials/createAlertTypeErrorBanner.njk' %}
                {% endif %}
                <span class="govuk-caption-xl">Create an alert type</span>
                <h1 class="govuk-heading-xl">
                    Add alert type details
                </h1>
                <form method="post">
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

                    {{ govukInput({
                        label: {
                            text: "Enter an alert type code"
                        },
                        classes: "govuk-input--width-5",
                        id: "alertTypeCode",
                        errorMessage: {
                            text: alertTypeCodeErrorMessage
                        } if alertTypeCodeErrorMessage,
                        name: "alertTypeCode",
                        value: alertTypeCode
                    }) }}
                    {{ govukInput({
                        label: {
                            text: "Enter a description of the alert type"
                        },
                        classes: "govuk-input--width-full",
                        errorMessage: {
                            text: alertTypeDescriptionErrorMessage
                        } if alertTypeDescriptionErrorMessage,
                        id: "alertTypeDescription",
                        name: "alertTypeDescription",
                        value: alertTypeDescription
                    }) }}
                    {{ govukButton({
                        text: "Continue",
                        type: submit,
                        value: 'alert-type-code',
                        preventDoubleClick: true,
                        attributes: {  'data-qa': 'alert-type-code' }
                    }) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
