{% extends "../../partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
    <div class="govuk-!-margin-bottom-9">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                {% if  alertTypeCodeErrorMessage or alertTypeDescriptionErrorMessage %}
                    {% include './partials/createAlertTypeErrorBanner.njk' %}
                {% endif %}
                <h1 class="govuk-heading-xl">
                    Create an alert type
                </h1>
                <form method="post">
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
                    {% if alertTypeCodeErrorMessage %}
                        {{ govukInput({
                            label: {
                                text: "Enter an alert type code"
                            },
                            classes: "govuk-input--width-5",
                            errorMessage: {
                                text: alertTypeCodeErrorMessage
                            },
                            id: "alertTypeCode",
                            name: "alertTypeCode",
                            value: alertTypeCode
                        }) }}
                    {% else %}
                        {{ govukInput({
                            label: {
                                text: "Enter an alert type code"
                            },
                            classes: "govuk-input--width-5",
                            id: "alertTypeCode",
                            name: "alertTypeCode",
                            value: alertTypeCode
                        }) }}
                    {% endif %}
                    {% if alertTypeDescriptionErrorMessage %}
                        {{ govukInput({
                            label: {
                                text: "Enter a description of the alert type"
                            },
                            classes: "govuk-input--width-full",
                            errorMessage: {
                                text: alertTypeDescriptionErrorMessage
                            },
                            id: "alertTypeDescription",
                            name: "alertTypeDescription",
                            value: alertTypeDescription
                        }) }}
                    {% else %}
                        {{ govukInput({
                            label: {
                                text: "Enter a description of the alert type"
                            },
                            classes: "govuk-input--width-full",
                            id: "alertTypeDescription",
                            name: "alertTypeDescription",
                            value: alertTypeDescription
                        }) }}
                    {% endif %}
                    {{ govukButton({
                        text: "Continue",
                        type: submit,
                        value: 'alert-type-code',
                        preventDoubleClick: true,
                        attributes: {  'data-qa': 'alert-type-code' }
                    }) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
