.govuk-main-wrapper {
  min-height: 600px;
}

.govuk-panel-confirmation-error {
  background: darkred;
}

.single-row-textarea {
  resize: none!important;
  white-space: nowrap!important;
  overflow-x: hidden!important;
}
