{% extends "partials/layout.njk" %}

{% set pageTitle = "Maintain alerts reference data - Prisoner Alerts" %}
{% set mainClasses = "app-container govuk-body" %}

{% set backUrl = "/" %}
{% set backLinkLabel = 'Manage prisoner alerts' %}

{% block content %}
  <div class="browse__header-wrapper govuk-!-margin-bottom-9">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="browse__heading govuk-heading-xl">
          Alerts
        </h1>
        <p class="gem-c-lead-paragraph gem-c-lead-paragraph--inverse govuk-!-margin-bottom-2">
          Manage alert types and codes, and upload secure alerts using this service.
        </p>
      </div>
    </div>
  </div>

  <h1 class="govuk-heading-l">
    Reference Data
  </h1>
  <div class="gem-c-cards">
    <ul class="gem-c-cards__list" data-track-count="cardList">
      <li class="gem-c-cards__list-item">
        <div class="gem-c-cards__list-item-wrapper">
          <h2 class="gem-c-cards__sub-heading govuk-heading-s">
            <a data-qa=create-alert-type class="govuk-link gem-c-cards__link govuk-link--no-visited-state" href="/alert-type/create">Add an alert type</a>
          </h2>
          <p class="govuk-body gem-c-cards__description">Add a new alert type.</p>
        </div>
      </li>
      <li class="gem-c-cards__list-item">
        <div class="gem-c-cards__list-item-wrapper">
          <h2 class="gem-c-cards__sub-heading govuk-heading-s">
            <a data-qa=update-alert-type class="govuk-link gem-c-cards__link govuk-link--no-visited-state" href="/alert-type/update-description">Update alert type description</a>
          </h2>
          <p class="govuk-body gem-c-cards__description">Update description of an alert type.</p>
        </div>
      </li>
      <li class="gem-c-cards__list-item">
        <div class="gem-c-cards__list-item-wrapper">
          <h2 class="gem-c-cards__sub-heading govuk-heading-s">
            <a data-qa=create-alert-code class="govuk-link gem-c-cards__link govuk-link--no-visited-state" href="/alert-code/create">Add an alert code</a>
          </h2>
          <p class="govuk-body gem-c-cards__description">Add a new alert code.</p>
        </div>
      </li>
      <li class="gem-c-cards__list-item">
        <div class="gem-c-cards__list-item-wrapper">
          <h2 class="gem-c-cards__sub-heading govuk-heading-s">
            <a data-qa=update-alert-code class="govuk-link gem-c-cards__link govuk-link--no-visited-state" href="/alert-code/update-description">Update alert code description</a>
          </h2>
          <p class="govuk-body gem-c-cards__description">Update description of an alert code.</p>
        </div>
      </li>
      <li class="gem-c-cards__list-item">
        <div class="gem-c-cards__list-item-wrapper">
          <h2 class="gem-c-cards__sub-heading govuk-heading-s">
            <a data-qa=deactivate-alert-type class="govuk-link gem-c-cards__link govuk-link--no-visited-state" href="/alert-type/deactivate">Deactivate an alert type</a>
          </h2>
          <p class="govuk-body gem-c-cards__description">Deactivate an existing alert type.</p>
        </div>
      </li>
      <li class="gem-c-cards__list-item">
        <div class="gem-c-cards__list-item-wrapper">
          <h2 class="gem-c-cards__sub-heading govuk-heading-s">
            <a data-qa=reactivate-alert-type class="govuk-link gem-c-cards__link govuk-link--no-visited-state" href="/alert-type/reactivate">Reactivate an alert type</a>
          </h2>
          <p class="govuk-body gem-c-cards__description">Reactivate a deactivated alert type.</p>
        </div>
      </li>
      <li class="gem-c-cards__list-item">
        <div class="gem-c-cards__list-item-wrapper">
          <h2 class="gem-c-cards__sub-heading govuk-heading-s">
            <a data-qa=deactivate-alert-code class="govuk-link gem-c-cards__link govuk-link--no-visited-state" href="/alert-code/deactivate">Deactivate an alert code</a>
          </h2>
          <p class="govuk-body gem-c-cards__description">Deactivate an existing alert code.</p>
        </div>
      </li>
      <li class="gem-c-cards__list-item">
        <div class="gem-c-cards__list-item-wrapper">
          <h2 class="gem-c-cards__sub-heading govuk-heading-s">
            <a data-qa=reactivate-alert-code class="govuk-link gem-c-cards__link govuk-link--no-visited-state" href="/alert-code/reactivate">Reactivate an alert code</a>
          </h2>
          <p class="govuk-body gem-c-cards__description">Reactivate a deactivated alert code.</p>
        </div>
      </li>
    </ul>
  </div>
{% endblock %}
