{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% extends "partials/layout.njk" %}

{% set pageTitle = "Enter why you are creating this alert - Upload alerts in bulk" %}
{% set mainClasses = "govuk-body govuk-!-static-padding-top-0" %}
{% block content %}
    <div class="govuk-grid-row govuk-!-margin-top-6">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" novalidate="novalidate" autocomplete="off">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
                {% include 'bulk-alerts/common/components/caption.njk' %}
                {{ govukCharacterCount({
                    label: {
                        text: "Enter why you are creating this alert",
                        classes: "govuk-label--l",
                        isPageHeading: true
                    },
                    hint: {
                        text: "This will be attached to all alerts uploaded in bulk. This will not change the description of active alerts."
                    },
                    maxlength: 4000,
                    rows: 12,
                    threshold: 75,
                    id: "description",
                    name: "description",
                    value: description,
                    errorMessage: validationErrors | findError('description')
                }) }}
                <div class="govuk-button-group govuk-!-display-none-print">
                    {{ govukButton({
                        text: "Continue",
                        preventDoubleClick: true
                    }) }}
                </div>
            </form>
        </div>
    </div>

{% endblock %}
