{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% extends "partials/layout.njk" %}

{% set heading = "Upload your list of prison numbers" %}

{% set pageTitle = heading + " - Upload alerts in bulk" %}
{% set mainClasses = "app-container govuk-body govuk-!-static-padding-top-0" %}
{% block content %}
    <div class="govuk-grid-row govuk-!-margin-top-6">
        <div class="govuk-grid-column-two-thirds">
            <form action="upload-prisoner-list?_csrf={{ csrfToken }}" method="post" enctype="multipart/form-data" data-module="form-spinner" data-loading-text="Uploading prison numbers">
                {% include 'bulk-alerts/common/components/caption.njk' %}
                {{ govukFileUpload({
                    id: "file",
                    name: "file",
                    label: {
                        text: heading,
                        classes: "govuk-label--l",
                        isPageHeading: true
                    },
                    hint: {
                        text: "Your list of prison numbers must be in a CSV file"
                    },
                    errorMessage: validationErrors | findError('file')
                }) }}
                {{ govukDetails({
                    summaryText: "How to use a CSV file",
                    html: '<p class="govuk-body">A CSV file is a type of spreadsheet. Download the template if you need one, then add the relevant prison numbers. When you upload it to this service, the prisoners in the file will be added to the list for creating alerts.</p>'
                    + '<p class="govuk-body">Download the <a href="/assets/downloads/prisoner-list.csv" download>prison number list template</a> (CSV, 1kb)</p>'
                }) }}
                {{ govukButton({
                    text: "Upload file",
                    preventDoubleClick: true
                }) }}
            </form>
        </div>
    </div>

{% endblock %}