{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "partials/layout.njk" %}

{% set heading = "Check your changes" %}
{% set pageTitle = "Check your changes - Maintain alerts reference data" %}
{% set mainClasses = "app-container govuk-body govuk-!-static-padding-top-0" %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-6">
  <div class="govuk-grid-column-two-thirds">
  {% include 'update-reference-data/common/components/caption.njk' %}
  <h1 class="govuk-heading-l govuk-!-margin-bottom-7">{{ heading }}</h1>
    {% if journey.referenceDataType === 'ALERT_TYPE' and journey.changeType === 'ADD_NEW' %}
      {% include './partial/add-new-alert-type.njk' %}
    {% endif %}
    {% if journey.referenceDataType === 'ALERT_CODE' and journey.changeType === 'ADD_NEW' %}
      {% include './partial/add-new-alert-code.njk' %}
    {% endif %}
    {% if journey.referenceDataType === 'ALERT_CODE' and journey.changeType === 'REACTIVATE' %}
      {% include './partial/reactivate-alert-code.njk' %}
    {% endif %}
    <form method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Confirm and save",
          preventDoubleClick: true
        }) }}
      </div>
    </form>
  </div>
</div>
{% endblock %}
