{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: [
        {
            text: alertTypeErrorMessage,
            href: "#alertType"
        } if alertTypeErrorMessage,
        {
            text: alertCodeErrorMessage,
            href: "#alertCode"
        } if alertCodeErrorMessage,
        {
            text: confirmationErrorMessage,
            href: "#confirmation"
        } if confirmationErrorMessage,
        {
            text: alertCodeDescriptionErrorMessage,
            href: "#alertDescription"
        } if alertCodeDescriptionErrorMessage
    ]
}) }}