{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "partials/layout.njk" %}

{% set heading = "What do you want to update?" %}
{% set pageTitle = "What do you want to update? - Maintain alerts reference data" %}
{% set mainClasses = "govuk-body govuk-!-static-padding-top-0" %}
{% block content %}
    <div class="govuk-grid-row govuk-!-margin-top-6">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" novalidate="novalidate" autocomplete="off">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
                {% include 'update-reference-data/common/components/caption.njk' %}
                {{ govukRadios({
                    name: "referenceDataType",
                    fieldset: {
                        legend: {
                            text: heading,
                            classes: "govuk-fieldset__legend--l",
                            isPageHeading: true
                        }
                    },
                    items: [
                        {
                            value: 'ALERT_CODE',
                            text: "Alert",
                            checked: referenceDataType === 'ALERT_CODE'
                        },
                        {
                            value: 'ALERT_TYPE',
                            text: "Alert type",
                            checked: referenceDataType === 'ALERT_TYPE'
                        }
                    ],
                    errorMessage: validationErrors | findError('referenceDataType')
                }) }}
                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Continue",
                        preventDoubleClick: true
                    }) }}
                </div>
            </form>
        </div>
    </div>

{% endblock %}
