{% extends "../../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = applicationName + " - Update alert code description" %}
{% set mainClasses = "app-container govuk-body" %}
{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "/"
    }) }}
{% endblock %}
{% block content %}
    <div class="govuk-!-margin-bottom-5">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                {% if  alertTypeErrorMessage %}
                    {% include './partials/updateAlertCodeErrorBanner.njk' %}
                {% endif %}
                <span class="govuk-caption-xl">Update alert code description</span>
                <form method="post">
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
                    {{ govukRadios({
                        name: "alertType",
                        fieldset: {
                            legend: {
                                text: "Select an alert type",
                                isPageHeading: true,
                                classes: "govuk-fieldset__legend--xl"
                            }
                        },
                        hint: {
                            text: "Selecting an alert type will allow you to choose the code for which you are going to update the description."
                        },
                        items: alertTypes
                    }) }}
                    {{ govukButton({
                        text: "Continue",
                        type: submit,
                        value: 'alert-type-code',
                        preventDoubleClick: true,
                        attributes: {  'data-qa': 'alert-type-code' }
                    }) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}