{% extends "../../partials/layout.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageTitle = applicationName + " - Update alert code description success" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
    <div class="govuk-!-margin-bottom-9">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {{ govukPanel({
                    titleText: "Alert code description updated",
                    html: "Alert code: <strong>" + code + "</strong> is updated with new description: <strong>" + description + "</strong>."
                }) }}
                <div class="govuk-!-margin-top-8">
                    <p class="govuk-body">
                        <a class="govuk-link" href="/">Return to Alerts Management</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
