{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

    {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-7",
      rows: [
        {
          key: {
          text: "New alert type"
        },
          value: {
          text: journey.code
        },
          actions: {
          items: [
            {
              href: "add-alert-type#code",
              text: "Change",
              visuallyHiddenText: "the alert type code",
              classes: "govuk-link--no-visited-state"
            }
          ]
        }
        },
        {
          key: {
          text: "New alert description"
        },
          value: {
          text: journey.description
        },
          actions: {
          items: [
            {
              href: "add-alert-type#description",
              text: "Change",
              visuallyHiddenText: "the alert type description",
              classes: "govuk-link--no-visited-state"
            }
          ]
        }
        }
      ]
    }) }}
