---
# Per environment values which override defaults in hmpps-alerts-ui/values.yaml

generic-service:
  ingress:
    host: alerts-ui-dev.hmpps.service.justice.gov.uk

  scheduledDowntime:
    enabled: true

  env:
    INGRESS_URL: "https://alerts-ui-dev.hmpps.service.justice.gov.uk"
    HMPPS_AUTH_URL: "https://sign-in-dev.hmpps.service.justice.gov.uk/auth"
    MANAGE_USERS_API_URL: "https://manage-users-api-dev.hmpps.service.justice.gov.uk"
    TOKEN_VERIFICATION_API_URL: "https://token-verification-api-dev.prison.service.justice.gov.uk"
    ENVIRONMENT: dev      # k8s namespace suffix & github environment
    ENVIRONMENT_NAME: DEV # Phase banner tag label
    SENTRY_ENVIRONMENT: DEV
    ALERTS_API_URL: "https://alerts-api-dev.hmpps.service.justice.gov.uk"
    PRISONER_SEARCH_API_URL: "https://prisoner-search-dev.prison.service.justice.gov.uk"
    AUDIT_ENABLED: "true"
    AUDIT_SQS_REGION: "eu-west-2"
    AUDIT_SERVICE_NAME: "hmpps-alerts-ui"
    COMPONENT_API_URL: "https://frontend-components-dev.hmpps.service.justice.gov.uk"
    COMMON_COMPONENTS_ENABLED: true
    DPS_HOME_PAGE_URL: "https://digital-dev.prison.service.justice.gov.uk"

  allowlist:
    groups:
      - digital_staff_and_mojo
      - moj_cloud_platform
      - accessibility-testing-1

generic-prometheus-alerts:
  alertSeverity: hmpps-prisoner-profile-non-prod # sent to Slack channel #connect-dps-non-prod-alerts
  businessHoursOnly: true
